.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    height: 4rem;
    width: 100%;
    padding: 1rem 1.5rem;
    
    position: absolute;
    z-index: 2;

    button {
        background-color: transparent;
        border: none;
    }

    button, h1 {
        white-space: nowrap;
    }
    
    .navigation {
        display: flex;
        gap: 0.75rem;
        min-width: 0;

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--mui-palette-text-primary);
            background-color: rgba(black, 0.7);;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;

            cursor: pointer;
        }

        button:disabled {
            color: rgba(white, 0.7);
            background-color: rgba(black, 0.4);
            cursor: not-allowed;
        }

        h1 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: bold;
            margin-left: 0.5rem;

            transition: opacity 0.4s ease-out;
            opacity: 0;

            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .user-details {
        display: flex;
        gap: 0.5rem;
        
        button {
            font-family: inherit;
            font-weight: bold;
            transition: 33ms;
            cursor: pointer;
            text-align: center;
            border-radius: 999px;
            font-size: 0.875rem;

            min-block-size: 2rem;
            padding: 0.25rem 1rem;
        }

        .white-button {
            color: black;
            background-color: var(--mui-palette-text-primary);
        }

        .black-button {
            color: var(--mui-palette-text-primary);
            background-color: black;
        }
    }
}