.main-container {
    grid-area: main-view;
    
    position: relative;
    width: 100%;
    background-color: var(--mui-palette-background-default);

    border-radius: 0.5rem 0 0 0.5rem;

    main {
        z-index: 0;
    }
}

.right-sidebar-hidden {
    grid-area: main-view/main-view/main-view/right-sidebar;
}

.home-header-spacer {
    height: 4rem;
    position: sticky;
    top: 0;
    
    opacity: 0;
    transition: background-color 0.25s, opacity 0.4s ease-out;
    z-index: 15;

    background-color: var(--mui-palette-background-default);
}

.top-gradient {
    height: 20.75rem;
    margin-top: -6.5rem;
    position: absolute;
    transition: 1s ease;
    width: 100%;
    z-index: 0;
}