@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-Book.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-BookItalic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-MediumItalic.otf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-Black.otf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-BlackItalic.otf");
    font-weight: 900;
    font-style: italic;
}

html, body, .root, .app {
    height: 100vh;
}

body {
    margin: 0;
    font-family: CircularStd, 'Helvetica Neue', helvetica, arial, 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS Gothic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    cursor: default;
    background-color: black;
    color: white;
    max-height: 100vh;
}

#root {
    max-height: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
}